@charset "utf-8";
/*
#c5ebd5
#83eled
33ddx84
#2fa866
#la5c37
#063d1e
*/

*{
    margin: 0px;
    padding:0px;
}
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

@font-face {
    font-family: 'android';
    src: url();
}
:root{
    --cor0: #c5ebd5;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;



    --fonte-padrão:arial,verdana,helvetica,sans-serif;
    --fonte-destaque:
}
main p{
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 1em;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
}
main a:hover{
    text-decoration: underline;
    color: var(--cor3);
}
h1{
text-align: center;
}
body{
    background-color: var(--cor0);
}
header{
    background-image:linear-gradient(to bottom,var(--cor3),var(--cor5));
    min-height: 150PX;
    text-align: center;
    padding-top: 40px ;
}
header >h1{
    color: var(--cor3);
    margin-bottom: 20px;
    font-size: 3em;
}
header>p{
    color: white;
    font-size: 1.2em;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    margin-bottom: 10px;
    
}
nav > a{
    border-radius: 6px;
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
}
nav>a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
main{
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    flex: auto;
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
}
main h2{
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}
main img{
    width: 100%;
}
main img.pequeno{
    max-width: 350px;
    display: block;
    margin: auto;

}
main h1{
    color: var(--cor5);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

main h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    width: 100%;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.466);
}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin:-10 -10 0 -10;
    border-radius: 10px 10px 0px 0px;
}
ul{
    list-style-type: '\2714\00A0' ;
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8;
    padding:5px;
}
footer>p>a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
div.video{
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px;
    padding: 20px;
    padding-bottom: 59%;

    position: relative;
}
div.video>iframe{
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  position: absolute;
}